html {
  font-size: 10px;
  box-sizing: content-box;
  width: 100vw;
  font-family: Arial, sans-serif; }

.logo {
  width: 10rem; }

.privacy {
  float: left; }

.best__header {
  color: #F89623;
  font-size: 5rem;
  text-align: center;
  padding: 3rem;
  margin-top: 25rem; }

.h3__1 {
  color: #52898B;
  font-size: 2.5rem; }

.think__p {
  padding: .3rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  line-height: 3rem;
  font-size: 2.5rem; }

.design__header {
  color: #52898B;
  font-size: 4rem; }

.best__p {
  font-size: 1.5rem;
  padding: .3rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  line-height: 3rem; }

.best__icon {
  color: #52898B;
  font-size: larger;
  font-weight: bolder;
  display: inline-block;
  transform: rotate(20deg); }

.btn-primary {
  background-color: #F89623;
  border-radius: 3rem;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  width: 12rem;
  border: none; }

.btn-white {
  background-color: white;
  border-radius: 3rem;
  color: #F89623;
  font-size: 1.5rem;
  padding: 2rem;
  width: 12rem;
  border: none; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-of-3 {
    width: calc((100% -2 * 0.1rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*(100% -2 * 0.1rem) / 3) + 0.1rem; }
  .row .col-1-of-2 {
    width: calc((100% -2 * 0.1rem) / 2); }

.row-2 {
  max-width: 90vw;
  margin: 0 auto; }
  .row-2:not(:last-child) {
    margin-bottom: 8rem; }
  .row-2::after {
    content: "";
    display: table;
    clear: both; }
  .row-2 [class^="col-"] {
    float: left; }
  .row-2 .col-1-of-3 {
    width: calc((100% -2 * 0.1rem) / 3); }
  .row-2 .col-2-of-3 {
    width: calc(2*(100% -2 * 0.1rem) / 3) + 0.1rem; }
  .row-2 .col-1-of-2 {
    width: calc((100% -2 * 0.1rem) / 2); }
  .row-2 .col-1-of-6 {
    width: calc((100% -2 * 0.1rem) / 6); }

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 1.5rem;
  margin: 1rem;
  color: white; }
  li:hover {
    color: #F89623;
    border-bottom: solid #F89623 0.1rem;
    transition: all 1s; }
  li:active {
    text-decoration: underline; }

.header__row {
  background-color: #52898B;
  padding-top: 2rem;
  min-height: 110vh; }

.header__row-2 {
  font-size: 2.5rem;
  color: #F89623;
  padding-bottom: 5rem; }

.header__text {
  display: block;
  color: white;
  padding-bottom: .8rem;
  font-size: 4rem;
  font-weight: 600; }

.header__row-3 {
  position: relative; }

.header__image-1 {
  left: 7rem;
  top: 15rem;
  transition: all; }

.header__image-2 {
  top: -5rem;
  right: -20%; }

.header__image-3 {
  right: -10;
  top: 3rem; }

.header__image {
  position: absolute;
  z-index: 10; }

.header__row-2 {
  margin-bottom: 3rem; }

/* The device with borders */
.smartphone {
  position: relative;
  width: 300px;
  height: 500px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px; }

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px; }

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%; }

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: white; }

body {
  background: #f1f1f1; }

/* The desktop with borders */
.desktop {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.6) translate(-50%);
  /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(0.6) translate(-50%);
  /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  left: 50%;
  position: absolute;
  width: 1366px;
  height: 800px;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black; }

/* The keyboard of the desktop */
.desktop:after {
  content: '';
  display: block;
  position: absolute;
  width: 160px;
  height: 60px;
  margin: 80px 0 0 -110px;
  background: black;
  border-radius: 6px; }

/* The top of the keyboard */
.desktop:before {
  content: '';
  display: block;
  position: absolute;
  width: 250px;
  height: 30px;
  bottom: -110px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1; }

/* The screen (or content) of the device */
.desktop .content {
  width: 1366px;
  height: 800px;
  overflow: hidden;
  border: none; }

.footer__body {
  background-color: black; }

.footer__heading {
  color: #F89623;
  font-size: 5rem;
  text-align: center; }

.gps__logo {
  width: 12rem;
  float: right; }

input[type=text], [type=email], [type=number] {
  padding: 1rem;
  margin: 0 1rem 0 1rem; }
