html {
  font-size: 10px; }

.logo {
  width: 10rem; }

.privacy {
  float: left; }

.footer__button {
  background-color: orange;
  border-radius: 3rem;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  width: 15rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% -2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*(100% -2 * 6rem) / 3) + 6rem; }
  .row .col-1-of-2 {
    background-color: grey;
    width: calc((100% -2 * 6rem) / 2); }

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 1.5rem;
  margin: 1rem;
  color: white; }
  li:hover {
    color: orange;
    text-decoration: solid underline orange 0.1rem;
    transition: all 1s; }
  li:active {
    text-decoration: underline; }

.header__row {
  background-color: #52898B;
  padding-top: 2rem; }

.footer__body {
  background-color: black; }

.footer__heading {
  color: orange;
  font-size: 5rem;
  text-align: center; }

.gps__logo {
  width: 12rem;
  float: right; }

input[type=text], [type=email], [type=number] {
  padding: 1rem;
  margin: 0 1rem 0 1rem; }
