$first-primary-color : orange;
$second-primary-color:#52898B;
$primary-black-color : black;
$color-white : white;

// grid variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;