.btn-primary{
  background-color: $first-primary-color;
  border-radius: 3rem;
  color: $color-white;
  font-size: 1.5rem;
  padding: 2rem;
  width: 12rem;
border: none;
}

.btn-white {
    background-color: $color-white;
    border-radius: 3rem;
    color: $first-primary-color;
    font-size: 1.5rem;
    padding: 2rem;
    width: 12rem;
  border: none;
}

.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
  }
}
