li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 1.5rem;
  margin: 1rem;
  color: $color-white;

  &:hover {
    color: $first-primary-color;
    border-bottom: solid  $first-primary-color 0.1rem;
    transition: all 1s;
  }
  &:active {
    text-decoration: underline;
  }
}
.header {
  &__row {
    background-color: $second-primary-color;
    padding-top: 2rem;
    min-height: 110vh;
    // clip-path: ellipse(100% 100% at 0% 0%);
  }

  &__row-2 {
    font-size: 2.5rem;
    color: $first-primary-color;
    padding-bottom: 5rem;
  }
 
  &__text {
    display: block;
    color: $color-white;
    padding-bottom: .8rem;
    font-size: 4rem;
    font-weight: 600;
  }

}
.header__row-3 {
    position: relative;
}
.header__image-1 {
    left: 7rem;
    top: 15rem;
    transition:all;



  }
  .header__image-2 { 
    top: -5rem;
    right: -20%;




  }
  .header__image-3 {
    right: -10;
    top: 3rem;
  }
  .header__image {
    position: absolute;
    z-index: 10;
  }
  .header__row-2 {
margin-bottom: 3rem;
  }