li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 1.5rem;
    margin: 1rem;
    color: $color-white;

    &:hover {
        color: $first-primary-color;
        text-decoration: solid underline $first-primary-color .1rem;
        transition: all 1s;
    }
    &:active {
        text-decoration: underline;
    }
}
.header__row {
    background-color: $second-primary-color;
    padding-top: 2rem;
    min-height: 100vh;
    clip-path: ellipse(100% 100% at 0% 0%);
    // clip-path: polygon(100% 100%, 100% 100%, 50% 100%, 100% 50%);

    // clip-path: polygon(100% 100%, 100% 100%, 100% 100%,  100% 50%);
    // clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 80%);


}