html {
    font-size: 10px;
    box-sizing: content-box;
    width: 100vw;
    font-family: Arial, sans-serif;
}

.think__img {
    // background-color: $color-milk;
    // clip-path: path('M 0 200 L 0,75 A 5,5 0,0,1 150,75 L 200 200 z');
    // clip-path: path('M 0 800 L 0,75 A 5,5 0,0,1 150,75 L 800 800 z');
}