.logo {
    width: 10rem;
}
.privacy {
    float: left;
}
.best__header {
    color: $first-primary-color;
    font-size: 5rem;
    text-align: center;
    padding: 3rem;
    margin-top: 15rem
}

.h3__1 {
    @include h3;
    font-size: 2.5rem;
}
.think__p {
    @include paragraphStyle;
    font-size: 2.5rem;  
}

.design__header {
    @include h3;
    font-size: 4rem;

}