.best {
 &__p {
     font-size: 1.5rem;
    @include paragraphStyle;

 }
 &__icon {
    color: $second-primary-color;
    font-size: larger;
     font-weight:bolder;
     display: inline-block;
     transform: rotate(20deg);
 }

}
.partner__row {
   box-shadow: 10px 10px 10px 8px #1a161615; 
   padding: 5rem;
}