.best {
 &__p {
     font-size: 1.5rem;
     padding: .3rem;
     color: $color-grey;
     font-weight: 700;
     text-align: justify;
     line-height: 3rem;
    //  letter-spacing: .1rem;

 }
 &__icon {
    color: $second-primary-color;
    font-size: larger;
     font-weight:bolder;
     display: inline-block;
     transform: rotate(20deg);
 }
 &__img {
    //  margin:4rem;
    //  padding: auto;
    //  align-items: flex-end;
    //  text-align: center;
 }
}
